:root {
  --dark-green: #212832;
  --light-green: #455a64;
  --yellow: #fed36a;
}

body {
  margin: 0;
  background-color: var(--dark-green, #212832);
  font-family: 'Arial', sans-serif;
}

.todo {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 520px) {
    padding: 25px;
  }
}

.todo__list,
.todo__panel {
  display: flex;
  gap: 20px;
  padding: 30px;
  font-size: 18px;
  background-color: var(--light-green, #455a64);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(13, 24, 32, 0.8);
  -moz-box-shadow: 4px 4px 8px 0px rgba(13, 24, 32, 0.8);
  box-shadow: 4px 4px 8px 0px rgba(13, 24, 32, 0.8);

  @media screen and (max-width: 520px) {
    padding: 20px;
  }
}

.todo__list {
  flex-direction: column;
}

.todo__panel {
  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.todo__list-item {
  color: #111111;
  list-style-type: none;
  background-color: var(--yellow, #fed36a);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);

  @media screen and (max-width: 520px) {
    padding: 10px 15px 10px 20px;
  }
}

.todo__input {
  flex: 1;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
}

.todo__add-button {
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--dark-green);
  background-color: var(--yellow);
  font-size: 18px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__delete-button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-green);
  border-radius: 5px;
  color: var(--dark-green);
}
